<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="basic_of_testNG.Oct31"/>
      <class name="basic_of_testNG.Nov1_logout"/>
      <class name="basic_of_testNG.Nov1_register"/>
      <class name="basic_of_testNG.Nov1_login"/>
      <class name="basic_of_testNG.Nov1_atribute_of_testng"/>
      <class name="basic_of_testNG.Nov1_addtocart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
